name: Verify
on:
  workflow_call:
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Lint code
        run: npm run format && npm run lint:fix

  build:
    name: Build
    needs: lint
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Build
        run: npm run build

  types:
    name: Types
    needs: lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        typescript-version: ['5.0.2', 'latest']

    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - run: npm i -D typescript@${{ matrix.typescript-version }}

      - name: Check types
        run: npm run typecheck

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Run tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: npm run test:mocha:unit
        # env:
        #   SOME_ENV: ${{ vars.SOME_ENV }}

      # - name: Upload coverage reports to Codecov
      #   uses: codecov/codecov-action@v4
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
